<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Basic -->
    <title><%- page.title %> | <%- config.title %></title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="<%- theme.favicon || 'https://www.meteor.com/favicon.png' %>" sizes="16x16 32x32 64x64">

    <!-- Social -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%- config.url %>">
    <meta property="og:title" content="<%- page.title %> | <%- config.title %>">
    <meta property="og:description" content="<%- page.description %>">
    <meta property="og:image" content="<%- config.logo && config.logo.desktop || theme.logo.desktop %>">
    <meta name="twitter:card" content="summary_image_large">
    <meta name="twitter:site" content="<%- theme.social_links.twitter %>">
    <meta name="twitter:title" content="<%- page.title %> | <%- config.title %>">
    <meta name="twitter:description" content="<%- page.description %>">
    <meta name="twitter:image" content="<%- config.logo && config.logo.desktop || theme.logo.desktop %>">

    <!-- Misc -->
    <meta name="google-site-verification" content="" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= config.root || '/' %>style/style.css">
  </head>
  <body class="">
    <%- body %>
    <script src="<%= config.root || '/' %>script/smooth-scroll.min.js"></script>
    <script src="<%= config.root || '/' %>script/main.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/fastclick/1.0.6/fastclick.min.js"></script>


    <script>
      <% if (config.redirects) { %>
        var REDIRECTS = <%- JSON.stringify(config.redirects, 0, 2) %>;

        function redirect() {
          // Support redirects of the form /path#hash
          var locationKey = location.pathname + location.hash;
          if (REDIRECTS[locationKey]) {
            location.replace(location.origin + '/' + REDIRECTS[locationKey]);
          }

          // Support redirects of the form #hash (works for any path)
          var hashKey = location.hash;
          if (REDIRECTS[hashKey]) {
            location.replace(location.origin + '/' + REDIRECTS[hashKey]);
          }
        }

        // Redirect now
        redirect();

        // Redirect on hash change
        window.onhashchange = redirect;
      <% } %>
    </script>
  </body>
</html>
